.chat-side{
  width: 300px;
  color: $White;
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-name{
        font-size: 16px;
      }
      &__menu{
        display: flex;
        &__new-group{
          margin-left: 0.3rem;
          color: #ffffff;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
        &__edit-user{
          margin-left: 0.3rem;
          color: #ffffff;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}

  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      color: $White;
      font-weight: bold;
      text-decoration: none;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
